:root {
  background-color: bisque;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  min-height: 50px;
  text-align: left;
}

nav,
p {
  display: inline;
}

footer {
  text-align: left;
  font-style: italic;
  min-height: 50px;
  background-color: lightgrey;
  margin: 5px;
  padding-left: 10px;
  align-content: center;
  border-radius: 10px;
}
