/* color palette;
2B2D42 - Mørk grå
8D99AE - Lys grå
EDF2F4 - Hvit
EF233C - Lys rød
D90429 - Rød */

header {
  min-height: 50px;
  max-height: 10vh;
  background-color: #8d99ae;
  border-radius: 0 0 10px 10px;
}

#title-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 0px;
  font-style: italic;
  color: #2b2d42;
}

main {
  height: 80vh;
  width: 85vw;
  background-color: #edf2f4;
  margin: 0 auto;
}

ul {
  height: 98%;
  padding: 5px;
  margin-top: 0;
  display: flex;
  gap: 4vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  anchor-name: --myCarousel;
  scroll-marker-group: after;
}

ul::scroll-marker-group {
  position: absolute;
  position-anchor: --myCarousel;
  top: calc(anchor(bottom) - 7vh);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 20px;
}

ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: #2b2d42;
  cursor: pointer;
  position: absolute;
  position-anchor: --myCarousel;
  border-radius: 10px;
}

ul::scroll-button(*):hover,
ul::scroll-button(*):focus {
  color: rgb(0 0 0 / 1);
}

ul::scroll-button(*):active {
  translate: 1px 1px;
}

ul::scroll-button(*):disabled {
  color: rgb(0 0 0 / 0.2);
  cursor: unset;
}

ul::scroll-button(left) {
  content: "◄";
  left: calc(anchor(left) - 5vw);
  bottom: anchor(center);
}

ul::scroll-button(right) {
  content: "►";
  right: calc(anchor(right) - 5vw);
  bottom: anchor(center);
}

/* flex: 0 0 100% for å få hvert liste objekt til å ta opp hele vidden til UL boksen */
li {
  list-style-type: none;
  background-color: #8d99ae;
  border: 1px solid #2b2d42;
  padding: 10px;
  flex: 0 0 100%;
  border-radius: 5px;
  scroll-snap-align: center;
  max-width: 99%;
  height: 95%;
}

/* li:nth-child(even) {
  background-color: #2b2d42;
  border: 1px solid #8d99ae;
} */

li::scroll-marker {
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid #2b2d42;
  border-radius: 50%;
}

li::scroll-marker:target-current {
  background-color: #2b2d42;
}

.img-container {
  height: 95%;
  display: flex;
  justify-content: center;
}

img {
  height: 100%;
  border: 2px solid #2b2d42;
  border-radius: 20px;
}

footer {
  text-align: center;
  font-style: italic;
  min-height: 50px;
  max-height: 10vh;
  background-color: #8d99ae;
  padding-left: 10px;
  align-content: center;
  border-radius: 10px 10px 0 0;
}

#footer-text {
  color: #2b2d42;
}
