/* color palette;
2B2D42 - Mørk grå
8D99AE - Lys grå
EDF2F4 - Hvit
EF233C - Lys rød
D90429 - Rød */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-height: 10svh;
  background-color: #8d99ae;
}

#title-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  padding-top: 20px;
  font-style: italic;
  color: #2b2d42;
  text-shadow: -1px 0 #edf2f4, 0 1px #edf2f4, 1px 0 #edf2f4, 0 -1px #edf2f4;
}

body {
  background-color: #edf2f4;
}

main {
  height: 80svh;
  width: 90svw;
  margin: 0 auto;
}

ul {
  height: 98%;
  padding: 5px;
  display: flex;
  gap: 4svw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  anchor-name: --myCarousel;
  scroll-marker-group: after;
}

/* Scroll bar og carousel er egentlig litt over hva jeg egentlig vet.
   Brukt tid på å google for å prøve og få det til. */
ul::scroll-marker-group {
  position: absolute;
  position-anchor: --myCarousel;
  top: calc(anchor(bottom) - 6svh);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 30px;
}

ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: #2b2d42;
  cursor: pointer;
  position: absolute;
  position-anchor: --myCarousel;
  border-radius: 10px;
}

ul::scroll-button(*):hover,
ul::scroll-button(*):focus {
  color: rgb(0 0 0 / 1);
}

ul::scroll-button(*):active {
  translate: 1px 1px;
}

ul::scroll-button(*):disabled {
  color: rgb(0 0 0 / 0.2);
  cursor: unset;
}

ul::scroll-button(left) {
  content: "◄";
  left: calc(anchor(left) - 5svw);
  bottom: anchor(center);
}

ul::scroll-button(right) {
  content: "►";
  right: calc(anchor(right) - 5svw);
  bottom: anchor(center);
}

/* flex: 0 0 100% for å få hvert liste objekt til å ta opp hele vidden til UL boksen */
li {
  list-style-type: none;
  padding: 10px;
  flex: 0 0 100%;
  border-radius: 5px;
  scroll-snap-align: center;
  max-width: 95%;
  height: 95%;
  /* background-color: rgba(0, 0, 255, 0.5); */
  justify-content: center;
  align-content: center;
}

li::scroll-marker {
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid #2b2d42;
  border-radius: 50%;
}

li::scroll-marker:target-current {
  background-color: #2b2d42;
}

.img-container {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  /* background-color: rgba(255, 0, 0, 0.5); */
}

img {
  display: block;
  max-inline-size: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #2b2d42;
  object-fit: cover;
}

footer {
  text-align: center;
  font-style: italic;
  min-height: 10svh;
  background-color: #8d99ae;
  align-content: center;
}

#footer-text {
  color: #2b2d42;
}
